<%- model_class = Implemento -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:imp_nombre) %>:</strong></dt>
  <dd><%= @implemento.imp_nombre %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.Atras")),
              implementos_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.editar")),
              edit_implemento_path(@implemento), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.eliminar")),
              implemento_path(@implemento),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirmacion", :default => '¿Esta seguro que desea eliminar el implemento?')) },
              :class => 'btn btn-danger' %>
